table{
    width: 100%;
    background-color:rgba(2, 5, 41, 0.61);
    color: white;
      }
      
    ng-container td{
        background-color: blue;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        
      }
    
      table th{
        color: white;
      }
      table td{
          color: white;
      }
      .container{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
  
  
      }
      .neon{

        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
      }